html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  position: sticky;
  background: linear-gradient(to right, #0d1f33 40%, rgba(0, 0, 0, 0)), url("../assets/images/car.jpg") 100% 101% no-repeat;
  background-attachment: fixed;
}

.logoContainer {
  width: 80px;
  height: 80px;
}
.logoContainer img {
  width: 100%;
}

.header-title {
  margin-left: 20px;
  font-size: 2em;
  font-family: Montserrat, sans-serif;
  font-weight: bolder;
  background: url("../assets/images/equalizer.png") center center;
  background-clip: text;
  background-size: cover;
  color: transparent;
  animation: smoke 1s infinite forwards;
}

@keyframes smoke {
  0% {
    filter: drop-shadow(0 0 10px red);
    transform: scale(0.99);
  }
  50% {
    filter: drop-shadow(0 0 20px orange);
  }
  100% {
    filter: drop-shadow(0 0 10px red);
    transform: scale(1);
  }
}
nav {
  margin-right: 10px;
}
nav a {
  position: relative;
  color: #00c8ff;
  text-transform: uppercase;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}
nav a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: ease-in-out 0.5s all;
}
nav a:hover {
  color: #fff;
}
nav a:hover::before {
  width: 100%;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.landing-page-container {
  padding-top: 80px;
  height: 100vh;
  border: 1px solid #000;
  padding: 20px;
  border: 1px solid #000;
  display: flex;
  justify-content: start;
  background: linear-gradient(to right, #0d1f33 40%, rgba(0, 0, 0, 0)), url("../assets/images/car.jpg") bottom right no-repeat;
  background-attachment: fixed;
}

.landing-page-content {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.landing-title {
  font-size: 36px;
  color: #00c8ff;
  text-align: center;
  animation: fadeInUp 1s ease-in-out 1 0s forwards;
}

.landing-subtitle {
  font-size: 18px;
  color: #fff;
  align-self: center;
  display: block;
}

.landing-list {
  list-style: none;
  color: #fff;
  padding-left: 20px;
  line-height: 20px;
}
.landing-list li {
  padding: 0;
  margin: 0;
  font-size: 20px;
  margin-bottom: 15px;
  position: relative;
  line-height: 25px;
}
.landing-list li::before {
  content: "";
  background-image: url("../assets/icons/music-note.png");
  width: 26px;
  height: 26px;
  position: absolute;
  transform: translateX(-30px);
  margin: auto 0;
}

.call-to-action-button {
  position: relative;
  width: 150px;
  padding: 10px;
  font-size: 16px;
  text-wrap: nowrap;
  font-weight: bold;
  background-color: #00c8ff;
  border: none;
  outline: none;
  cursor: pointer;
  color: #0a0a0a;
  transition: 0.5s all ease-out;
  border-radius: 30px;
}

.call-to-action-button:hover {
  background-color: #009ed6;
  color: #fff;
  filter: drop-shadow(#fff 0px 0px 10px);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.ourServices {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

.service-heading-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.service-heading-section .service-heading-title {
  font-size: 50px;
  text-align: center;
}
.service-heading-section .service-heading-title span {
  color: #00c8ff;
}

.service-cards {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  width: 250px;
  height: 250px;
  padding: 10px;
  border-radius: 10px;
  border: 5px inset #00c8ff;
  color: #0b0b0b;
  letter-spacing: 2px;
  font-size: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.google-reviews-container {
  background-color: #2a2a2a;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px;
}

.review-content {
  width: 50%;
}

.review-title-section {
  width: 50%;
  padding: 30px;
}
.review-title-section h1 {
  text-align: center;
  color: #fff;
}
.review-title-section h1 span {
  color: #00c8ff;
}

.appointment-section {
  display: flex;
  height: 100vh;
}

.appointment-heading {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appointment-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.appointment-content form {
  border: 1px solid #00c8ff;
  width: 400px;
  height: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.appointment-content form input {
  width: 100%;
  margin-bottom: 20px;
  font-size: 20px;
  color: #0b0b0b;
  border: none;
  border-bottom: 1px solid #00c8ff;
  outline: none;
  padding: 5px;
}
.appointment-content form input::placeholder {
  color: #d1cece;
  font-size: 15px;
}
.appointment-content form button {
  display: block;
  width: 150px;
  padding: 10px;
  font-size: 16px;
  text-wrap: nowrap;
  font-weight: bold;
  background-color: #00c8ff;
  border: none;
  outline: none;
  cursor: pointer;
  color: #0a0a0a;
  transition: 0.5s all ease-out;
  border-radius: 30px;
}
.appointment-content form button:hover {
  background-color: #009ed6;
  color: #fff;
  scale: 1.001;
  box-shadow: 0 2px 5px 0px #000;
}
.appointment-content form textarea {
  font-size: 20px;
  color: #0b0b0b;
  border: 1px solid #00c8ff;
  outline: none;
  padding: 5px;
}
.appointment-content form textarea::placeholder {
  color: #d1cece;
  font-size: 15px;
}

footer {
  background-color: #0d1f33;
  padding: 30px;
  color: #fff;
}
footer a {
  color: #fff;
}

.upper-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.upper-footer p {
  margin-bottom: 20px;
}
.upper-footer div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.footer-title {
  align-self: flex-start;
  font-size: 22px;
  color: #00c8ff;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-address {
  letter-spacing: 1px;
}

.footer-contact-title {
  color: #00c8ff;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: -30px;
}

.social-icons ion-icon {
  font-size: 28px;
  margin: 0px 10px;
  cursor: pointer;
}
.social-icons ion-icon:hover {
  color: #00c8ff;
}

.lower-footer {
  text-align: center;
}

.contact-number {
  align-self: flex-start;
}

body {
  position: relative;
}

.color-text {
  color: #00c8ff;
}

.section-heading {
  font-size: 50px;
}

.gototop {
  width: 50px;
  height: 50px;
  background-color: #00c8ff;
  font-size: 40px;
  text-decoration: none;
  color: #fff;
  border-radius: 100px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 10;
  display: none;
}
.gototop ion-icon {
  transform: translate(5px, 4px);
}

/*# sourceMappingURL=styles.css.map */
