@import "../components/_animations.scss";

.landing-page-container {
  padding-top: 80px;
  height: 100vh;
  border: 1px solid #000;
  padding: 20px;
  border: 1px solid #000;
  display: flex;
  justify-content: start;
  background: linear-gradient(to right, #0d1f33 40%, rgba(0, 0, 0, 0)),
    url("../assets/images/car.jpg") bottom right no-repeat;
  background-attachment: fixed;
}

.landing-page-content {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.landing-title {
  font-size: 36px;
  color: #00c8ff;
  text-align: center;

  @include fadeInUp(1s, ease-in-out, 1, 0s, forwards);
}

.landing-subtitle {
  font-size: 18px;
  color: #fff;
  align-self: center;
  display: block;
}

.landing-list {
  list-style: none;
  color: #fff;

  padding-left: 20px;
  line-height: 20px;

  li {
    padding: 0;
    margin: 0;
    font-size: 20px;
    margin-bottom: 15px;
    position: relative;
    line-height: 25px;
  }

  li::before {
    content: "";
    background-image: url("../assets/icons/music-note.png");
    width: 26px;
    height: 26px;
    position: absolute;
    transform: translateX(-30px);
    margin: auto 0;
  }
}

.call-to-action-button {
  position: relative;
  width: 150px;
  padding: 10px;
  font-size: 16px;
  text-wrap: nowrap;
  font-weight: bold;
  background-color: #00c8ff;
  border: none;
  outline: none;
  cursor: pointer;
  color: #0a0a0a;
  transition: 0.5s all ease-out;

  border-radius: 30px;
}

.call-to-action-button:hover {
  background-color: #009ed6;
  color: #fff;
  filter: drop-shadow(#fff 0px 0px 10px);
}
