@import "../components/animations";

.ourServices {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

.service-heading-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .service-heading-title {
    font-size: 50px;
    text-align: center;

    span {
      color: #00c8ff;
    }
  }
}

.service-cards {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  width: 250px;
  height: 250px;
  padding: 10px;
  border-radius: 10px;
  border: 5px inset #00c8ff;
  color: #0b0b0b;
  letter-spacing: 2px;
  font-size: 18px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
