@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin fadeInUp(
  $duration: 1s,
  $timing-function: ease-in,
  $iteration-count: 1,
  $delay: 0s,
  $direction: normal
) {
  animation: fadeInUp $duration $timing-function $iteration-count $delay
    $direction;
}
